<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="js/local.js"></script>
<script src="js/calendar.js"></script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/flexslider.css" type="text/css"
	media="screen" property="" />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href="css/local.css" rel="stylesheet" />
<link href="css/calendar.css" rel="stylesheet" />
<link href="css/simpleLightbox.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
	integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	crossorigin="anonymous" />
<style>
body {
	font-family: Arial;
	font-size: 17px;
	padding: 8px;
}

.square {
	height: 75px;
	width: 75px;
}

* {
	box-sizing: border-box;
}

.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	margin: 0 -16px;
}

.col-25 {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
}

.col-50 {
	-ms-flex: 50%; /* IE10 */
	flex: 50%;
}

.col-75 {
	-ms-flex: 75%; /* IE10 */
	flex: 75%;
}

.col-25, .col-50, .col-75 {
	padding: 0 16px;
}

.container {
	background-color: #f2f2f2;
	padding: 5px 20px 15px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
}

input[type=text] {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

label {
	margin-bottom: 10px;
	display: block;
}

.icon-container {
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
}

.btn {
	background-color: #4CAF50;
	color: white;
	padding: 12px;
	margin: 10px 0;
	border: none;
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
}

.btn:hover {
	background-color: #45a049;
}

a {
	color: #2196F3;
}

hr {
	border: 1px solid lightgrey;
}

span.price {
	float: right;
	color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media ( max-width : 800px) {
	.row {
		flex-direction: column-reverse;
	}
	.col-25 {
		margin-bottom: 20px;
	}
}
</style>
</head>
<body>
	<header>
		<div class="top-bar_sub container-fluid">
			<div class="row">
				<div class="col-md-4 top-forms text-left mt-4" data-aos="fade-up">
					<span> <a href="index.html"><i class="fa fa-home"></i> 
					</a><a id="welcome" href="index.html">
						Welcome!
				</a>
					</span> 
					
					<span class="mx-lg-4 mx-md-2  mx-1"> <a  id="userSign" href="login.html">
							<i class="fa fa-lock"></i> 
							Sign In</a>
					
					</span>
					
					<span> <a id="register" href="register.html"> <i class="far fa-user"></i>
							Register
					</a>
					</span>
					 <span class="mx-lg-4 mx-md-2  mx-1">
					 <a style="display: none; font-size: 0" id="logout" href="logout"><i class="fas fa-sign-out-alt"></i>
					 		Logout</a>
					</span>
				</div>
				<div class="col-md-4 logo text-center" data-aos="fade-up">
					<a class="navbar-brand" href="index.html"> <img alt=""
						src="images/logo.png"></img>
					</a>
				</div>

				<div class="col-md-4 log-icons text-right" data-aos="fade-up">

					<ul class="social_list1 mt-4">

						<li><a
							href="https://www.facebook.com/Bake-World-881719938705439/"
							target="_blank" class="facebook1 mx-2"> <i
								class="fab fa-facebook-f"></i>

						</a></li>
						<li><a
							href="https://www.facebook.com/Bake-World-881719938705439/"
							target="_blank" class="twitter2"> <i class="fab fa-twitter"></i>

						</a></li>
						<li><a
							href="https://www.facebook.com/Bake-World-881719938705439/"
							target="_blank" class="instagram3"> <i
								class="fab fa-instagram"></i>
						</a></li>
						<li><a
							href="https://www.facebook.com/Bake-World-881719938705439/"
							target="_blank" class="pin"> <i class="fab fa-google-plus"></i>
						</a></li>
					</ul>
					<br />



				</div>
			</div>

		</div>

	</header>
	<div class="row">
		<div class="col-75">
			<div class="container">
				<form th:action="@{/placeOrder}" method="post" modelAttribute="bill">

					<div class="row">
						<div class="col-50">
							<h3>Shipping Address</h3>
							<br /> <label for="fname"><i class="fa fa-user"></i>
								Full Name</label> <input class="form-control" type="text" id="fname"
								name="name" placeholder="John M. Doe" required="" /> <label
								for="email"><i class="fa fa-envelope"></i> Email</label> <input
								class="form-control" type="email" id="email" name="email"
								placeholder="john@example.com" required="" /> <label
								for="phone"><i class="fa fa-mobile"></i> Phone</label> <input
								class="form-control" type="number" id="phone" name="phone"
								placeholder="0739566663" required="" /> <label for="adr"><i
								class="fa fa-address-card"></i> Address</label> <input
								class="form-control" type="text" id="adr" name="address"
								placeholder="Pilvägen 38" required="" /> <label for="city"><i
								class="fa fa-building"></i> City</label> <input type="text" id="city"
								name="city" value="Stockholm" class="form-control"
								readonly="readonly" /> <label  class="fa fa-building" for="zip">Pin Code(5
								digit)</label> <input id="zipInput" class="form-control" type="text"
								pattern="[0-9]{5}" name="zip" placeholder="10001" required="" />
								<p id="zipNotValid" style="display: none;font-size: 8px"  ><font color="red" >We do not deliver to this pin code as of now, please choose within Stockholm Urban area</font>
								 </p>
								
							<label for="zip" class="fa fa-calendar"> Pick Delivery Date</label> <input type="date"
								id="deliveryDate" name="orderDate" class="form-control"
								min='2018-01-01' max='2018-12-31' required="" /> <label
								for="zip" class="fa fa-clock"> Pick Delivery Slot</label> <select name="timeSlot"
								autocomplete="on" class="form-control">


								<option value="11:00 to 13:00"
									data-a-css-class="quantity-option" selected="">11:00
									to 13:00</option>

								<option value="13:00 to 15:00"
									data-a-css-class="quantity-option">13:00 to 15:00</option>

								<option value="15:00 to 17:00"
									data-a-css-class="quantity-option">15:00 to 17:00</option>

								<option value="17:00 to 19:00"
									data-a-css-class="quantity-option">17:00 to 19:00</option>


							</select>
							<!-- div class="row">
								<div class="col-50">
									<label for="zip">Pick Delivery Date</label>
								</div>
								<div class="col-50">
									<label for="zip">Pick Delivery Slot</label>
								</div>


							</div -->
							<!--  div class="row">
								<div class="col-50">
									<input type="date"
								id="deliveryDate" name="orderDate" class="form-control"  min='2018-01-01' max='2018-12-31' required="" />
								</div>
								<div class="col-50">
										<select name="timeSlot" autocomplete="on"  class="form-control">
                                
                                
                                    <option value="11:00 to 13:00" data-a-css-class="quantity-option" selected="">
                                        11:00 to 13:00
                                    </option>
                                
                                    <option value="13:00 to 15:00" data-a-css-class="quantity-option">
                                       13:00 to 15:00
                                    </option>
                                
                                    <option value="15:00 to 17:00" data-a-css-class="quantity-option">
                                        15:00 to 17:00
                                    </option>
                                
                                    <option value="17:00 to 19:00" data-a-css-class="quantity-option">
                                        17:00 to 19:00
                                    </option>
                                
                                  
                            </select>
								</div>


						</div-->



						<!-- input list="browsers">
							<datalist id="browsers">
								<option value="Internet Explorer"></option>
								<option value="Firefox"></option>
								<option value="Chrome"></option>
								<option value="Opera"></option>
								<option value="Safari"></option>
							</datalist>
							</input> -->


					</div>

					<div class="col-50">
						<h3>Payments</h3>
						<br />
						<!-- label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fab fa-cc-visa"></i>
              <i class="fab fa-cc-amex" style="color:blue;"></i>
              <i class="fab fa-cc-mastercard" style="color:red;"></i>
            </div>
            <label for="cname">Name on Card</label>
            <input type="text" id="cname" name="cardname" placeholder="John More Doe"/>
            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444"/>
            <label for="expmonth">Exp Month</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="September"/>
            <div class="row">
              <div class="col-50">
                <label for="expyear">Exp Year</label>
                <input type="text" id="expyear" name="expyear" placeholder="2018"/>
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" placeholder="352"/>
              </div>
            </div-->

						<div class="menu-grids my-lg-4 my-md-2">
							<div class="row inner-menu mt-4">
								<div class="col-md-6 menu-grid-left" data-aos="fade-down">
									<div class="row mt-2">
										<div>
											<img src="/images/swish.png" width="50%" height="50%" alt="" />
										</div>


									</div>

								</div>
								<br />
								<div class="col-md-6 menu-grid-right" data-aos="fade-down">
									<div class="row mt-2">

										<div class="col-md-7 menu-img-info mt-4 mt-md-2">
											<h5>Swish</h5>
											<input type="radio" id="swish" name="contact" value="cash"
												required="" />
										</div>
									</div>

								</div>

							</div>
							<div class="row inner-menu mt-4">
								<div class="col-md-6 menu-grid-left" data-aos="fade-down">
									<div class="row mt-2">
										<div>
											<img id="cartcount" src="/images/cash.jpeg" width="70%"
												height="100%" alt="" />
										</div>


									</div>

								</div>
								<br />
								<div class="col-md-6 menu-grid-right" data-aos="fade-down">
									<div class="row mt-2">

										<div class="col-md-7 menu-img-info mt-4 mt-md-2">
											<h5>Cash</h5>
											<input type="radio" id="cash" name="contact" value="cash"
												required="" />
										</div>
									</div>

								</div>

							</div>
							<br /> <br /> <i>We accept swish payment as of now, please
								press Place Order button and swish to +46 739566663 to complete
								your order</i> <br /> <br /> <b>We also accept cash on
								delivery, for convenience please provide exact change, however
								in case of no exact change, a fee of 10 Kr will be levy on total
								amount. </b>
						</div>


					</div>
			</div>



			<input type="submit" value="Place Order" class="btn" />
			</form>
		</div>
	</div>
	<div class="col-25">


		<div th:if="not ${checkoutCart.isEmpty()}" class="container">
			<h4>
				Cart <span class="price" style="color: black"> <a href="cart.html"><i 
					class="fa fa-shopping-cart"></i></a>
				</span>
			</h4>
			<div class="scrollbar">
				<div th:each="cake : ${checkoutCart}">
					<div>
						<p>
							<span class="rh"> <a th:text="${cake.value.size()}"></a>
							</span> <span style="float: center;"> <a href="#"
								style="text-align: center" th:text="${cake.value[0].name}"></a></span>
							<span style="float: right;"> <a
								th:text="${cake.value[0].price}*${cake.value.size()}"></a> <a
								th:text="${cake.value[0].currency}"></a>
							</span>
						</p>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-50">

				<b>Delivery Charge </b>

			</div>
			<div class="col-50">

				<i id="deliverycharge"></i>

			</div>

		</div>
		<div class="row">
			<div class="col-50">

				<b>Discount </b>

			</div>
			<div class="col-50">

				<i id="discountOnLogin"></i>

			</div>

		</div>
		<div class="row">
			<div class="col-50">

				<b>Amount Payable (<i id="totalPc"></i> <i id="itemsoritem"></i>)
				</b>
			</div>
			<div class="col-50">
				<i id="totalPc"></i> <i id="totalPrice"></i>
			</div>
		</div>

		<br />
		<div class="row">
			<i class="freeShipping" id="freeShipMsg">Free Shipping above
				350kr</i>
		</div>
		
		<br />
		<div class="row">
			<i class="loginDiscount" id="loginDiscount">Please sign in to get 5% additional discount</i>
		</div>

	</div>
	</div>


	<script type="text/javascript">
var itemCount=0;
var totalPrice=0;
var deliveryCharge=0;
var itemsoritem="item";
var currency ="kr";
</script>
	<script th:each="item:${checkoutCart}" th:inline="javascript">
	
if(itemCount!=0){
	itemCount= itemCount+([[${item.value.size()}]]);
	
}else{
	itemCount= ([[${item.value.size()}]]);

}
if(totalPrice!=0){
	totalPrice= totalPrice+([[${item.value[0].price}*${item.value.size()}]]);
}else{
	totalPrice= ([[${item.value[0].price}*${item.value.size()}]]);
	
}
if(totalPrice > 350){
	deliveryCharge=0;
} else{
	deliveryCharge=49;
}
if(itemCount>1){
	itemsoritem="items";
}

if(deliveryCharge==0){
	document.getElementById("deliverycharge").innerHTML=": FREE";
}else{
document.getElementById("deliverycharge").innerHTML=": "+deliveryCharge+" "+([[${item.value[0].currency}]]);
}
document.getElementById("itemsoritem").innerHTML=itemsoritem;
document.getElementById("totalPc").innerHTML=itemCount;
currency = ([[${item.value[0].currency}]]);
</script>

<script th:inline="javascript">

/*<![CDATA[*/

var discount = /*[[${discountEligible}]]*/ 'default';

/*]]>*/

if(deliveryCharge==0){
	document.getElementById("freeShipMsg").innerHTML="Your order is eligible for free shipping.";
	var freeShipping = document.getElementById('freeShipMsg');
	freeShipping.style.color = "#ec5a84";
}
var billAmount = totalPrice +deliveryCharge;
if(discount=="discountEligible"){
document.getElementById("discountOnLogin").innerHTML=": "+totalPrice*5/100+" "+currency;
billAmount=billAmount-totalPrice*5/100;
}




document.getElementById("totalPrice").innerHTML=": "+billAmount+" "+currency;
</script>




<script>setDateLimit()</script>

<script th:inline="javascript">
	
	/*<![CDATA[*/

    var loggedInUser = /*[[${loggedInUser}]]*/ 'default';
  
	/*]]>*/
	if(loggedInUser!=null){
	document.getElementById("welcome").innerHTML="Welcome "+loggedInUser+"!";
	 document.getElementById("register").setAttribute("hidden", "");
	 document.getElementById("userSign").setAttribute("hidden", "");
	 document.getElementById("logout").setAttribute("style","display:block");
	 document.getElementById("loginDiscount").innerHTML="Congratulations, you are eligible for 5% discount";
	 var freeShipping = document.getElementById('loginDiscount');
		freeShipping.style.color = "#ec5a84";
	}
	
	</script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:inline="javascript" >

$(document).ready(function(){
	
    $("#zipInput").blur(function(){
    	var userPincode =  	document.getElementById("zipInput").value;
   
    	$.ajax({
    	    type : "POST",
    	    url : "checkPinCode",
    	    data : {pincode:userPincode},
    	    timeout : 100000,
    	    success : function(id) {
    	
    	    if(id==="notFound"){
    	    	document.getElementById("zipNotValid").setAttribute("style", "display:block;font-size:14px");
    	    	document.getElementById("zipInput").value='';
    	    }
    	    if(id==="found"){
    	    	document.getElementById("zipNotValid").setAttribute("style", "display:none");
    	    }
    	      	
    	        console.log("SUCCESS: ");
    	        
    	    },
    	    error : function(e) {
    	        console.log("ERROR: ", e);
    	        return "Please Re-try";
    	    }
    	   
    	});
  
    });
});
</script>
</body>
</html>
