

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>The Bake World</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<meta name="keywords" content="Bake world" />
<script>
	addEventListener("load", function() {
		setTimeout(hideURLbar, 0);
	}, false);

	function hideURLbar() {
		window.scrollTo(0, 1);
	}
</script>
<script src="js/local.js" type="text/javascript"></script>
<link rel="shortcut icon" type="image/x-icon" href="images/logo.png" />
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/flexslider.css" type="text/css"
	media="screen" property="" />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href="css/fontawesome-all.css" rel="stylesheet" />
<link href="css/local.css" rel="stylesheet" />
<link href="css/simpleLightbox.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
	integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	crossorigin="anonymous" />
<style>
body {
	font-family: Arial, Helvetica, sans-serif;
}

.zoomin img {
	height: 200px;
	width: 200px;
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	transition: all 2s ease;
}

.zoomin img:hover {
	width: 300px;
	height: 300px;
}
</style>
</head>

<body>
	<!--/banner-->
	<header>
		<div class="top-bar_sub container-fluid">
			<div class="row">
				<div class="col-md-4 top-forms text-left mt-4" data-aos="fade-up">
					<span> <a href="index.html"><i class="fa fa-home"></i> </a><a
						id="welcome" href="index.html">Welcome! </a>
					</span> <span class="mx-lg-4 mx-md-2  mx-1"> <a id="userSign"
						href="login.html"> <i class="fa fa-lock"></i> Sign In
					</a>

					</span> <span> <a id="register" href="register.html"> <i
							class="far fa-user"></i> Register
					</a>
					</span> <span class="mx-lg-4 mx-md-2  mx-1"> <a
						style="display: none; font-size: 0" id="logout" href="logout"><i
							class="fas fa-sign-out-alt"></i> Logout</a>
					</span>
				</div>
				<div class="col-md-4 logo text-center" data-aos="fade-up">
					<a class="navbar-brand" href="index.html"> <img alt=""
						src="images/logo.png"></img>
					</a>
				</div>

				<div class="col-md-4 log-icons text-right" data-aos="fade-up">

					<ul class="social_list1 mt-4">

						<li><a
							href="https://www.facebook.com/Bake-World-881719938705439/"
							target="_blank" class="facebook1 mx-2"> <i
								class="fab fa-facebook-f"></i>

						</a></li>
						<li><a
							href="https://www.facebook.com/Bake-World-881719938705439/"
							target="_blank" class="twitter2"> <i class="fab fa-twitter"></i>

						</a></li>
						<li><a
							href="https://www.facebook.com/Bake-World-881719938705439/"
							target="_blank" class="instagram3"> <i
								class="fab fa-instagram"></i>
						</a></li>
						<li><a
							href="https://www.facebook.com/Bake-World-881719938705439/"
							target="_blank" class="pin"> <i class="fab fa-google-plus"></i>
						</a></li>
					</ul>
					<br />
					<div data-aos="fade-up">
						<a id="cartBox" href="cart.html"> <i id="cartBoxOverlap"
							class="fas fa-shopping-cart"> <i id="cartcount">0</i>
						</i>
						</a>

					</div>


				</div>
			</div>

		</div>

	</header>
	<div id="myModalOrderPlaced" class="modalOrderPlaced">

		<!-- Modal content -->
		<div class="modal-contentOrderPlaced">

			<span class="closeOrderPlaced">&times;</span>
			<p id="orderPlaced">&nbsp;&nbsp;</p>

		</div>

	</div>
	<marquee>For better user experience, please use Google Chrome
	</marquee>
	<div class="header_top" id="home">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler navbar-toggler-right mx-auto"
				type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>


			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto">
					<li class="nav-item active"><a class="nav-link"
						href="index.html">Home <span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link scroll" href="#menu">Menu</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="about.html">About
							Us</a></li>


					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Others </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#"></a> <a class="dropdown-item"
								href="gallery.html">Gallery</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="404.html">Services</a>

						</div></li>
					<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a>
					</li>

				</ul>
			</div>
		</nav>

	</div>

	<div class="banner">
		<div id="carouselExampleIndicators" class="carousel slide"
			data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0"
					class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active">
					<div class="carousel-caption">
						<h3>
							The Bake World <span>Specialist In Eggless Baking</span>
						</h3>

					</div>
				</div>

				<div class="carousel-item item3">
					<div class="carousel-caption">
						<h3>
							Baking is delight with <span>Your Local Baker</span>
						</h3>

					</div>
				</div>
				<div class="carousel-item item4">
					<div class="carousel-caption">
						<h3>
							Freshly baked all day <span>Every day!</span>
						</h3>

					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators"
				role="button" data-slide="prev"> <span
				class="carousel-control-prev-icon" aria-hidden="true"></span> <span
				class="sr-only">Previous</span>
			</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
				role="button" data-slide="next"> <span
				class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<!--//banner-->
	<!--/nav-->

	<!--//nav-->
	<!--/inner-content-->
	<!--/banner-bottom-->

	<!--//banner-bottom-->
	<!--/banner-bottom-->

	<!--//banner-bottom-->
	<!--/Menu-->

	<section class="banner-bottom menu" id="menu">
		<div class="container">
			<h3 class="tittle">Our Menu</h3>
			<a style="float: right;" href="/cart" class="blog-btn"
				data-aos="fade-down">My cart</a>
			<div id="myModal" class="modal">

				<!-- Modal content -->
				<div class="modal-content">
					<span class="close">&times;</span>
					<p>
						Item added successfully to your cart!! &nbsp;&nbsp; <a
							href="/cart" class="blog-btn" data-aos="fade-down">My cart</a>
					</p>

				</div>

			</div>

			<div class="row inner-sec">
				<div class="tabs">
					<ul class="nav nav-pills mb-5 justify-content-center"
						id="pills-tab" role="tablist">
						<li class="nav-item"><a class="nav-link active"
							id="pills-cake-tab" data-toggle="pill" href="#pills-cake"
							role="tab" aria-controls="pills-cake" aria-selected="true"
							th:if="${not #lists.isEmpty(cakeMenu)}"> Cakes </a></li>
						<li class="nav-item"><a class="nav-link" id="pills-cc-tabb"
							data-toggle="pill" href="#pills-cc" role="tab"
							aria-controls="pills-cc" aria-selected="false"
							th:if="${not #lists.isEmpty(ccMenu)}"> Cup Cake</a></li>
						<li class="nav-item"><a class="nav-link "
							id="pills-savory-tab" data-toggle="pill" href="#pills-savory"
							role="tab" aria-controls="pills-savory" aria-selected="false"
							th:if="${not #lists.isEmpty(savMenu)}"> Savory Baked</a></li>
						<li class="nav-item"><a class="nav-link"
							id="pills-biscuits-tabb" data-toggle="pill"
							href="#pills-biscuits" role="tab" aria-controls="pills-biscuits"
							aria-selected="false" th:if="${not #lists.isEmpty(biscuitMenu)}">
								Cookies &amp; Biscuits</a></li>


					</ul>

					<div class="tab-content" id="pills-tabContent">

						<div class="tab-pane fade show active" id="pills-cake"
							role="tabpanel" aria-labelledby="pills-cake-tab"
							th:if="${not #lists.isEmpty(cakeMenu)}">

							<div class="menu-grids my-lg-4 my-md-2">

								<div class="row inner-menu mt-4">

									<div class="col-md-6 menu-grid-left" data-aos="fade-down"
										th:each="cake : ${cakeMenu}" th:if="${cake.id%2==1}">
										<div class="row mt-2">
											<div class="col-md-5 menu-img">
												<a href="product.html"
													th:onclick="|goToProduct('${cake.id}')|"><img
													th:src="${cake.imageUrl}" class="img-fluid rounded-circle"
													alt="" /></a>
											</div>
											<div class="col-md-7 menu-img-info mt-4 mt-md-2">
												<h5 th:text="${cake.name}"></h5>
												<p class="sub-meta mt-2">
													<a th:text="${cake.price}"></a> <a
														th:text="${cake.currency}"></a>
												</p>
												<a href="#menu" class="blog-btn" data-aos="fade-down"
													th:onclick="|addToCart('${cake.id}')|">Add to cart</a>
											</div>

										</div>

									</div>
									<br />
									<div class="col-md-6 menu-grid-right" data-aos="fade-down"
										th:each="cake : ${cakeMenu}" th:if="${cake.id%2==0}">
										<div class="row mt-2">
								<div class="col-md-5 menu-img">
												<a href="product.html"
													th:onclick="|goToProduct('${cake.id}')|"><img
													th:src="${cake.imageUrl}" class="img-fluid rounded-circle"
													alt="" /></a>
											</div>
											<div class="col-md-7 menu-img-info mt-4 mt-md-2">
												<h5 th:text="${cake.name}"></h5>
												<p class="sub-meta mt-2">
													<a th:text="${cake.price}"></a> <a
														th:text="${cake.currency}"></a>
												</p>
												<a href="#menu" class="blog-btn" data-aos="fade-down"
													th:onclick="|addToCart('${cake.id}')|">Add to cart</a>
											</div>
										</div>


									</div>

								</div>
							</div>
						</div>

						<div class="tab-pane fade" id="pills-cc" role="tabpanel"
							aria-labelledby="pills-cc-tab"
							th:if="${not #lists.isEmpty(ccMenu)}">
							<div class="menu-grids my-lg-4 my-md-2">
								<div class="row inner-menu mt-4">
									<div class="col-md-6 menu-grid-left" data-aos="fade-down"
										th:each="cake : ${ccMenu}" th:if="${cake.id%2==1}">
										<div class="row mt-2">
											<div class="col-md-5 menu-img">
												<a href="product.html"
													th:onclick="|goToProduct('${cake.id}')|"><img
													th:src="${cake.imageUrl}" class="img-fluid rounded-circle"
													alt="" /></a>
											</div>
											<div class="col-md-7 menu-img-info mt-4 mt-md-2">
												<h5 th:text="${cake.name}"></h5>
												<p class="sub-meta mt-2">
													<a th:text="${cake.price}"></a> <a
														th:text="${cake.currency}"></a>
												</p>
												<a href="#menu" class="blog-btn" data-aos="fade-down"
													th:onclick="|addToCart('${cake.id}')|">Add to cart</a>
											</div>
										</div>

									</div>
									<div class="col-md-6 menu-grid-right" data-aos="fade-down"
										th:each="cake : ${ccMenu}" th:if="${cake.id%2==0}">
										<div class="row mt-2">
											<div class="col-md-5 menu-img">
												<a href="product.html"
													th:onclick="|goToProduct('${cake.id}')|"><img
													th:src="${cake.imageUrl}" class="img-fluid rounded-circle"
													alt="" /></a>
											</div>
											<div class="col-md-7 menu-img-info mt-4 mt-md-2">
												<h5 th:text="${cake.name}"></h5>
												<p class="sub-meta mt-2">
													<a th:text="${cake.price}"></a> <a
														th:text="${cake.currency}"></a>
												</p>
												<a href="#menu" class="blog-btn" data-aos="fade-down"
													th:onclick="|addToCart('${cake.id}')|">Add to cart</a>
											</div>
										</div>

									</div>
								</div>

							</div>

						</div>
						<div class="tab-pane fade" id="pills-savory" role="tabpanel"
							aria-labelledby="pills-savory-tab"
							th:if="${not #lists.isEmpty(savMenu)}">
							<div class="menu-grids my-lg-4 my-md-2">
								<div class="row inner-menu mt-4">
									<div class="col-md-6 menu-grid-left" data-aos="fade-down"
										th:each="cake : ${savMenu}" th:if="${cake.id%2==1}">
										<div class="row mt-2">
											<div class="col-md-5 menu-img">
												<a href="product.html"
													th:onclick="|goToProduct('${cake.id}')|"><img
													th:src="${cake.imageUrl}" class="img-fluid rounded-circle"
													alt="" /></a>
											</div>
											<div class="col-md-7 menu-img-info mt-4 mt-md-2">
												<h5 th:text="${cake.name}"></h5>
												<p class="sub-meta mt-2">
													<a th:text="${cake.price}"></a> <a
														th:text="${cake.currency}"></a>
												</p>
												<a href="#menu" class="blog-btn" data-aos="fade-down"
													th:onclick="|addToCart('${cake.id}')|">Add to cart</a>
											</div>
										</div>

									</div>
									<div class="col-md-6 menu-grid-right" data-aos="fade-down"
										th:each="cake : ${savMenu}" th:if="${cake.id%2==0}">
										<div class="row mt-2">
											<div class="col-md-5 menu-img">
												<a href="product.html"
													th:onclick="|goToProduct('${cake.id}')|"><img
													th:src="${cake.imageUrl}" class="img-fluid rounded-circle"
													alt="" /></a>
											</div>
											<div class="col-md-7 menu-img-info mt-4 mt-md-2">
												<h5 th:text="${cake.name}"></h5>
												<p class="sub-meta mt-2">
													<a th:text="${cake.price}"></a> <a
														th:text="${cake.currency}"></a>
												</p>
												<a href="#menu" class="blog-btn" data-aos="fade-down"
													th:onclick="|addToCart('${cake.id}')|">Add to cart</a>
											</div>
										</div>

									</div>
								</div>

							</div>

						</div>
						<div class="tab-pane fade" id="pills-biscuits" role="tabpanel"
							aria-labelledby="pills-biscuits-tab"
							th:if="${not #lists.isEmpty(biscuitMenu)}">
							<div class="menu-grids my-lg-4 my-md-2">
								<div class="row inner-menu mt-4">
									<div class="col-md-6 menu-grid-left" data-aos="fade-down"
										th:each="cake : ${biscuitMenu}" th:if="${cake.id%2==1}">
										<div class="row mt-2">
											<div class="col-md-5 menu-img">
												<a href="product.html"
													th:onclick="|goToProduct('${cake.id}')|"><img
													th:src="${cake.imageUrl}" class="img-fluid rounded-circle"
													alt="" /></a>
											</div>
											<div class="col-md-7 menu-img-info mt-4 mt-md-2">
												<h5 th:text="${cake.name}"></h5>
												<p class="sub-meta mt-2">
													<a th:text="${cake.price}"></a> <a
														th:text="${cake.currency}"></a>
												</p>
												<a href="#menu" class="blog-btn" data-aos="fade-down"
													th:onclick="|addToCart('${cake.id}')|">Add to cart</a>
											</div>
										</div>

									</div>
									<div class="col-md-6 menu-grid-right" data-aos="fade-down"
										th:each="cake : ${biscuitMenu}" th:if="${cake.id%2==0}">
										<div class="row mt-2">
											<div class="col-md-5 menu-img">
												<a href="product.html"
													th:onclick="|goToProduct('${cake.id}')|"><img
													th:src="${cake.imageUrl}" class="img-fluid rounded-circle"
													alt="" /></a>
											</div>
											<div class="col-md-7 menu-img-info mt-4 mt-md-2">
												<h5 th:text="${cake.name}"></h5>
												<p class="sub-meta mt-2">
													<a th:text="${cake.price}"></a> <a
														th:text="${cake.currency}"></a>
												</p>
												<a href="#menu" class="blog-btn" data-aos="fade-down"
													th:onclick="|addToCart('${cake.id}')|">Add to cart</a>
											</div>
										</div>

									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//Menu-->


	<!--/blog-->

	<!--//blog-->
	<!--/Gallry-->
	<section class="banner-bottom">
		<div class="container">
			<h3 class="tittle">Our Gallery</h3>
			<div th:if="${not #lists.isEmpty(galleryMenu)}">
				<div class="row inner-sec">

					<div th:each="cake : ${galleryMenu}" th:if="${cake.id%3==1}"
						class="col-md-4 proj_gallery_grid" data-aos="zoom-in">

						<div class="section_1_gallery_grid">
							<a th:title="${cake.description}" th:href="${cake.imageUrl}">
								<div class="section_1_gallery_grid1">
									<img th:src="${cake.imageUrl}" alt=" " class="img-fluid" />
									<div class="proj_gallery_grid1_pos">
										<h3 th:text="${cake.category.categoryType}"></h3>
										<p th:text="${cake.name}"></p>
									</div>
								</div>
							</a>

						</div>


					</div>
					<div th:each="cake : ${galleryMenu}" th:if="${cake.id%3==2}"
						class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
						<div class="section_1_gallery_grid">
							<a th:title="${cake.description}" th:href="${cake.imageUrl}">
								<div class="section_1_gallery_grid1">
									<img th:src="${cake.imageUrl}" alt=" " class="img-fluid" />
									<div class="proj_gallery_grid1_pos">
										<h3 th:text="${cake.category.categoryType}"></h3>
										<p th:text="${cake.name}"></p>
									</div>
								</div>
							</a>

						</div>


					</div>
					<div th:each="cake : ${galleryMenu}" th:if="${cake.id%3==0}"
						class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
						<div class="section_1_gallery_grid">
							<a th:title="${cake.description}" th:href="${cake.imageUrl}">
								<div class="section_1_gallery_grid1">
									<img th:src="${cake.imageUrl}" alt=" " class="img-fluid" />
									<div class="proj_gallery_grid1_pos">
										<h3 th:text="${cake.category.categoryType}"></h3>
										<p th:text="${cake.name}"></p>
									</div>
								</div>
							</a>

						</div>


					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//gallery-->
	<!--reviews_sec-->
	<section class="banner-bottom reviews_sec">
		<div class="container">
			<h3 class="tittle cen">Testimonial</h3>
			<div class="inner-sec">
				<div class="flexslider mx-auto">
					<ul class="slides">
						<li>
							<div class="row">
								<div class="col-md-3 testimonials_grid-inn">

									<img src="images/t1.jpg" alt=" " class="img-fluid" />
								</div>
								<div class="col-md-9 testimonials_grid text-left">
									<h3>
										Erik <span>(Customer)</span>
									</h3>
									<i>Stockholm</i>
									<p>Had a privilege to order cake from Bake World, it was
										superb, tasty and so fresh, don't forget to try their dominoes
										style Garlic Bread yummm</p>
								</div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="col-md-3 testimonials_grid-inn">

									<img src="images/t2.jpg" alt=" " class="img-fluid" />
								</div>
								<div class="col-md-9 testimonials_grid text-left">
									<h3>
										Margareta <span>(Customer)</span>
									</h3>
									<i>Stockholm</i>
									<p>Awesome is the word, nice packaging on time delivery and
										delicious</p>
								</div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="col-md-3 testimonials_grid-inn">


									<img src="images/team1.jpg" alt=" " class="img-fluid" />
								</div>
								<div class="col-md-9 testimonials_grid text-left">
									<h3>
										Mohit <span>Customer</span>
									</h3>
									<i>Stockholm</i>
									<p>Vegan eggless cake in stockholm one place to go Bake
										World ..Love</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!---->
	<!--//inner-content-->
	<!--footer-->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 footer-grid text-left" data-aos="fade-right">
					<h3>About US</h3>
					<p>We are based in Fika Destination of the world Stockholm,
						Sweden</p>
					<div class="read">
						<a href="about.html" class="btn btn-primary read-m">Read More</a>
					</div>
				</div>
				<!-- subscribe -->
				<div class="col-lg-8 subscribe-main footer-grid text-left"
					data-aos="fade-left">
					<h2>Subscribe for hot updates</h2>
					<div class="subscribe-main text-left">
						<div class="subscribe-form">
							<form th:action="@{/subscribe}" method="post"
								modelAttribute="subscribe" class="subscribe_form">
								<input class="form-control" name="emailId" type="email"
									placeholder="Enter your email..." required="" />
								<button type="submit" class="btn btn-primary submit">Submit</button>
							</form>

						</div>
						<p>We respect your privacy. No spam ever!</p>
					</div>
					<!-- //subscribe -->
					<div class="footer-cpy text-left">
						<div class="copyrighttop">
							<ul>
								<li class="mx-lg-3 mx-md-2 mx-1"><a class="facebook"
									href="https://www.facebook.com/Bake-World-881719938705439/"
									target="_blank"> <i class="fab fa-facebook-f"></i> <span>Facebook</span>
								</a></li>
								<li><a class="facebook"
									href="https://www.facebook.com/Bake-World-881719938705439/"
									target="_blank"> <i class="fab fa-twitter"></i> <span>Twitter</span>
								</a></li>
								<li class="mx-lg-3 mx-md-2 mx-1"><a class="facebook"
									href="https://www.facebook.com/Bake-World-881719938705439/"
									target="_blank"> <i class="fab fa-google-plus-g"></i> <span>Google+</span>
								</a></li>
								<li><a class="facebook"
									href="https://www.facebook.com/Bake-World-881719938705439/"
									target="_blank"> <i class="fab  fa-instagram"></i> <span>Instagram</span>
								</a></li>
							</ul>
						</div>
						<div class="copyrightbottom">
							<p>© 2018 The Bake World. All Rights Reserved</p>

						</div>
					</div>
				</div>
			</div>
			<!-- //footer -->
		</div>
	</footer>
	<!---->

	<!-- js -->
	<script src="js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!-- /flexisel -->
	<script>
		$(window).load(function() {
			$("#flexiselDemo1").flexisel({
				visibleItems : 4,
				animationSpeed : 1000,
				autoPlay : true,
				autoPlaySpeed : 3000,
				pauseOnHover : true,
				enableResponsiveBreakpoints : true,
				responsiveBreakpoints : {
					portrait : {
						changePoint : 480,
						visibleItems : 1
					},
					landscape : {
						changePoint : 640,
						visibleItems : 2
					},
					tablet : {
						changePoint : 768,
						visibleItems : 3
					}
				}
			});

		});
	</script>
	<script src="js/jquery.flexisel.js"></script>
	<!-- //flexisel -->
	<!-- flexSlider -->
	<script src="js/jquery.flexslider.js"></script>
	<script>
		$(window).load(function() {
			$('.flexslider').flexslider({
				animation : "slide",
				start : function(slider) {
					$('body').removeClass('loading');
				}
			});
		});
	</script>

	<!-- //flexSlider -->

	<!-- simpleLightbox -->
	<script src="js/simpleLightbox.js"></script>
	<script>
		$('.proj_gallery_grid a').simpleLightbox();
	</script>
	<!-- //simpleLightbox -->
	<!-- /js files -->
	<link href='css/aos.css' rel='stylesheet prefetch' type="text/css"
		media="all" />
	<link href='css/aos-animation.css' rel='stylesheet prefetch'
		type="text/css" media="all" />
	<script src='js/aos.js'></script>
	<script src="js/aosindex.js"></script>
	<!-- //js files -->
	<!--/ start-smoth-scrolling -->
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>

	<script>
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop : $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!--// end-smoth-scrolling -->

	<script>
		$(document).ready(function() {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
			 */

			$().UItoTop({
				easingType : 'easeOutQuart'
			});

		});
	</script>
	<script type="text/javascript">
	displayCart();
	
	</script>
	<script th:each="bill:${finalBill}" th:inline="javascript">
	var orderId=0;
	orderId= ([[${bill.id}]]);
	if(orderId!=0){
		orderPlaced(orderId);
	}
	
	
	</script>



	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
	<!-- //Custom-JavaScript-File-Links -->
	<script src="js/bootstrap.js"></script>

	<script th:inline="javascript">
	
	/*<![CDATA[*/

    var loggedInUser = /*[[${loggedInUser}]]*/ 'default';
  
	/*]]>*/
	if(loggedInUser!=null){
	document.getElementById("welcome").innerHTML="Welcome "+loggedInUser+"!";
	 document.getElementById("register").setAttribute("hidden", "");
	 document.getElementById("userSign").setAttribute("hidden", "");
	 document.getElementById("logout").setAttribute("style","display:block");
	}
	
	</script>

	<script th:inline="javascript">
	
	/*<![CDATA[*/

    var contact = /*[[${contactSoon}]]*/ 'default';
  
	/*]]>*/
	if(contact==="contactSoon"){
		orderPlaced(contact);
	} 
	
	</script>

	<script th:inline="javascript">
	
	/*<![CDATA[*/

    var contact = /*[[${subs}]]*/ 'default';
  
	/*]]>*/
	
	if(contact==="subs"){
		orderPlaced(contact);
	}
	
	</script>
	<script th:inline="javascript">
	
	/*<![CDATA[*/

    var contact = /*[[${emptyCart}]]*/ 'default';
  
	/*]]>*/
	
	if(contact==="emptyCart"){
		orderPlaced(contact);
	}
	
	</script>

</body>

</html>


