deploy_local.sh
*/.metadata/*
*/.recommenders/*
application-local.properties
application-dev.properties
*.class
*.jar
*.lst
*/target/
*.class
*.idea/
*.iml
*/target/*
.idea/workspace.xml
*.class
/bin/
/WebContent/
