#cartcount {
    font-size: 12px;
    color: #ffffff;
    
    border-radius: 75%;
    background: #22b9ff;
    padding: 0 5px;
    border: 2px  #202cee;

    text-align: center;
    vertical-align: top;
}

#addtocart {
    font-size: 12px;
    color: #f4ff8d;
    
    
    background: #000000;
  
   

    text-align: center;
   
}

.scrollbarCheckout {

 padding-right: 10px;
  
  margin-right: auto;
  margin-left: auto;
overflow-y: scroll !important;
max-height: 450px;

background: #ffffff; 
 
}
.scrollbarCart {

 padding-right: 10px;
  
  margin-right: auto;
  margin-left: auto;
overflow-y: scroll !important;
max-height: 450px;

 
}

.cartImageSize {

 object-fit: cover;
  width:130px;
  height:130px;
 
}

.priceCart {
color: #ff191e;

 
}
/* Create four equal columns that floats next to each other */
.columnCart {
    float: left;
    width: 25%;
}
.freeShipping {
   color: #ff191e;
}


